.social-links{
	display: flex;
	justify-content: center; /* align horizontal */
}


.social-link{
	width: 50px;
	height: 50px;
}


#google{
	filter: brightness(0.7);	
}

#facebook{
	filter: contrast(0);
}

#twitter{
	filter: blur(2px);
}

#linkedin{
	filter: sepia(100%);
}

#reddit{
	filter: invert(100%);
}
#instagram{
	filter: grayscale(100%);
}

.button-cus:hover{
	width: 200px;
	transition: width 1s;
}

.social-link:hover{
	filter: none !important;
	transition: width 3s;
}

#captchaText{
	width: 100px;
}
#captchaText:hover{
	background-color: #27f7ae;
	transition: background-color 3s;
}