header{
    width: 100%;
}
header div img{
    display: inline;
    float: left;
    padding-left:  70px;
}
header div font{
    padding-left:  70px;
    display: inline;
}

.search{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: aquamarine;
}
.search p{
    padding-left: 40%;
    padding-right: 20%;
    margin: auto;
    font-style: oblique;
    color: blue;
    font-size:20px;
}
.search-input{
    float: left;
    margin-left: 120px;
    margin-top: 30px;
    width: 70%;
}

.search-submit{
    margin-left: 40px;
    margin-top: 30px;
}

.reviews {
    margin-top:70px;
    margin-bottom: 70px;
    width: 100%;
    display: block;
}

.summary{
    text-align: center;
    font-size:20px;
}

.review p{
    padding:10px;
    width: 20%;
    height: 130px;
    float:left;
}

.review p{
    text-align: center;
    border: 2px solid blue;
    border-radius: 10%;
    margin-left: 30px;
    box-shadow: 2px 2px 25px wheat ;
}


